In [13]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv("machine.txt", sep = "\t")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [15]:
df.describe()

       New machine      Old machine
count    10.000000        10.000000
mean     42.140000        43.230000
std       0.683455         0.749889
min      41.000000        41.700000
25%      41.800000        42.800000
50%      42.200000        43.400000
75%      42.625000        43.750000
max      43.200000        44.100000

In [16]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [17]:
df.rename(columns = {'    Old machine':'Old machine'}, inplace = True)
df.columns

Index(['New machine', 'Old machine'], dtype='object')

In [18]:
df.columns

Index(['New machine', 'Old machine'], dtype='object')

In [19]:
df.dtypes

New machine    float64
Old machine    float64
dtype: object

In [20]:
df['New machine'].mean()

42.14

In [25]:
df['Old machine'].mean()

43.230000000000004

In [24]:
st.ttest_ind(df['New machine'], df['Old machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)